<h3>Profiles</h3>

<% @profiles.each do |profile| %>
  <h1><%= profile.name %></h1>

  <%= link_to "Edit Profile", edit_profile_path(profile.id) %> |
<% end %>

<%= link_to 'New Profile', new_profile_path %> |

<%= link_to "Back to product", products_path %>
