<h1>Delivery Details</h1>

<button><%= link_to "New Delivery Detail", new_product_delivery_detail_path(@product) %></button>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @delivery_details.each do |detail| %>
      <tr>
        <td><%= detail.date %></td>
        <td>
         <button><%= link_to 'Edit', edit_product_delivery_detail_path(@product, detail) %></button>
          <%= button_to 'Delete', product_delivery_detail_path(@product, detail), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>